body {
	height: 95%;
	width: 95%;
	background-color: #cccccc;
}

input[type = text] {
	margin: 5px;
	width: 80%;
	height: 27px;
}

input[type = button] {
	margin: 5px;
	width: 40%;
}

#order-form {
	width: 40%;
	background-color: #999999;
	padding: 5px;
	float: left;
}

#order-form div {
	margin: 5px auto;
	background-color: #cccccc;
	width:97%;
}

#map {
	overflow: hidden;
	width: 60%;
	height: 80%;
	background-color: grey;
}