body {
	background-color: #cccccc;
}

input {
	padding: 5px;
}

input[type = text] {
	margin: 5px;
	width: 80%;
	height: 27px;
}

input[type = button] {
	margin: 5px;
	width: 40%;
}

#order-form {
	width: 40%;
	background-color: #999999;
	padding: 5px;
	float: left;
}

#order-form div {
	margin: auto;
	background-color: #cccccc;
}

#map {
	overflow: hidden;
	width: 60%;
	height: 80%;
}